*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 95vw;
    background-color: brown;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 500px 100px;
}

header, nav, article, footer{
    font-size: 2rem;
    padding: 20px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: aquamarine;
    grid-column-start: 1;
    grid-column-end: 9;
}

nav{
    background-color: blueviolet;
    grid-column-start: -1;
    grid-column-end: -5;
    grid-row-start: -1;
    grid-row-end: -4;
}

article{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 9;
}

footer{
    background-color: gray;
    grid-column-start: 1;
    grid-column-end: 9;
}